# General
BasedOnStyle: GNU
UseTab: Never
IndentWidth: 4
ColumnLimit: 240

# Coding Style
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
BreakAfterReturnType: Automatic
BreakAfterAttributes: Leave

SeparateDefinitionBlocks: Always
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterOperatorKeyword: false
SpaceBeforeParens: ControlStatements

SortIncludes: Never
PointerAlignment: Left